<section class="main-wrapper">
	<div class="image-box">
		<img $src="woman-with-child.svg"/>
	</div>
	<div class="content-box">
		<div class="content-box-container">

			<!-- go back -->
			<a $href="reset-password" class="go-back-btn">
				<img $src="arrow-left-bold.svg"/>
			</a>

			<h1 class="heading-text">Complete your<br>Password reset</h1>
			<p>Please enter the reset code sent to your mail to continue<br>
				You can also click on the retry button if you still haven't gotten a mail from us.
			</p>

			<!-- form container -->
			<form class="content-form" action="@link('complete-password-reset');" method="POST">
				@csrf;
				@method('@completeResetPassword');
				<label for="reset_code" class="form-group">
					<span>Authorization Code</span>
					<input id="reset_code" type="text" minlength="4" class="input-line" name="reset_code" required/>
				</label>

				<div class="content-form-footer">
					<a $href="complete-password-reset/retry" class="link">Taking too long? Retry.</a>
				</div>

				<button class="btn" type="submit">Proceed</button>

			</form>
		</div>
	</div>
</section>