<section class="main-wrapper">
	<div class="image-box">
		<img $src="woman-with-child.svg"/>
	</div>
	<div class="content-box">
		<div class="content-box-container">

			<!-- go back -->
			<a $href="home" class="go-back-btn">
				<img $src="arrow-left-bold.svg"/>
			</a>

			<h1 class="heading-text">Reset<br>Your password</h1>
			<p>Please proceed with your username and password.<br>
				You will recieve an email from us if your account exists.
			</p>

			<!-- form container -->
			<form class="content-form" action="" method="POST">
				@csrf;
				@method('@resetPassword');
				<label for="username" class="form-group">
					<span>Your username</span>
					<input id="username" type="text" minlength="4" class="input-line" value="@post('username');" name="username" required/>
				</label>

				<label for="password" class="form-group">
					<span>Your new password</span>
					<input id="password" type="password" minlength="4" class="input-line" name="password" required/>
				</label>

				<label for="password2" class="form-group">
					<span>Your password again</span>
					<input id="password2" type="password" minlength="4" class="input-line" name="password_again" required/>
				</label>

				<button class="btn" type="submit">Reset</button>

			</form>
		</div>
	</div>
</section>