<section class="page-intro">
    <span class="sub-title"><a $href="manager">Dashboard</a>/<a href="">Administrators</a></span>
    <h1 class="heading-text">Administrators <a href="" data-panel="add-administrator" class="cir-btn add-button"></a></h1> 
</section>

<div class="table-container volunteers">
	<table class="table" cellspacing="0">
		<thead>
			<tr>
				<th>Avatar</th>
				<th>Fullname</th>
				<th>Email Address</th>
				<th>Role</th>
				<th>Telephone</th>
				<th>Last Seen</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@if ($data->status == 'success')
				@foreach ($data->accounts as $account)
				<tr data-href="@link('super-user/'.$account->accountid);">
					<td>
						<div class="avatar-curve">
							<img src="{fromStorage($account->display_image)}"/>
						</div>
					</td>
					<td>{ucwords($account->lastname . ' ' . $account->firstname)}</td>
					<td>{$account->email}</td>
					<td>{ucfirst($account->accountType)}</td>
					<td>{$account->telephone}</td>
					{$time = @@timeAgo($account->last_seen);}
					<td>{$account->last_seen == null ? 'Never' : $time}</td>
					<td>
						<div class="table-controls">
							<a href="@link('super-user/'.$account->accountid);" class="cir-btn edit"></a>
							<a href="" data-input='{getAccountJson($account)}' data-method="@deleteSuperUser" class="cir-btn delete" data-modal="delete"></a>
						</div>
					</td>
				</tr>
				@endforeach
			@endif
		</tbody>
	</table>
</div>

<!-- panel for this view -->
@partial('start-panel');
	@partial('add-administrator');
@endpanel;